.expense-filter-select {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  height: 35px;
  background-color: #3e3e3e;
  border: none;
  color: wheat;
  font-size: 16px;
  padding: 0 15px;
  display: inline-block;
}

.expense-filter-select:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
